
body{
    margin: 10px auto;
    width: 800px;
    height: 700px;
    border: 1px solid rgb(180, 16, 239);
}
h2 {
    margin-top: 5px;
    text-align: center;
    color: rgb(59, 168, 8);
}
p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}
.main-content{
    display: block;
    position: relative;
    padding: 5px;
}
#btn-next {
    position: absolute;
    right: 10px;
    width: 60px;
    height: 30px;
    color: #ffffff;
    background-color: rgb(58, 122, 218);
    border-radius: 3px;
    border: 1px solid rgb(58, 122, 218);
    margin-top: 8px;
}
#btn-back {
    position: absolute;
    margin-top: 8px;
    left: 10px;
    width: 60px;
    height: 30px;
    color: #ffffff;
    background-color: rgb(58, 122, 218);
    border-radius: 3px;
    border: 1px solid rgb(58, 122, 218);
}
