body{
    display: block;
    margin: 20px auto;
    width: 600px;
    height: 100vw;
    border: 1px solid rgb(180, 16, 239);
    padding: 10px;
}
.main-content{
    display: block;
}
.list-answer{
    display: block;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-number{
    width: 200px;
    height: 50px;   
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(180, 16, 239);
    background-color: rgb(198, 10, 10);
    color: #ffff;
}
#btn-submit {
    margin-top: 8px;
    width: 80px;
    height: 30px;
    color: #ffffff;
    background-color: rgb(58, 122, 218);
    border-radius: 3px;
    border: 1px solid rgb(58, 122, 218);
    margin-bottom: 10px;

}
#point {
    height: 50px;
    margin-top: 8px;
    margin-left: 10px;
}
.list-questions{
    width: 100%;
    margin-top: 8px;
    bottom: 72%;
}
.submit-answer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#question{
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}
.dot {
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  